* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 1s ease; /* Apply transition effect to opacity */
}

.main-fade-in {
  opacity: 1; /* Change opacity to 1 for the fade-in effect */
}

article {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#clock {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 7rem;
  color: white;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
}
