* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 1s ease; /* Apply transition effect to opacity */
}

.main-fade-in {
  opacity: 1; /* Change opacity to 1 for the fade-in effect */
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: white;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.main-fade-in article {
  opacity: 1;
  transform: translateX(0);
}

#title {
  width: max-content;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
  /* opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease; */
}

#description {
  width: 800px;
  font-size: 1rem;
  text-align: justify;
  font-style: italic;
  /* opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease; */
}

/* .main-fade-in #title {
  opacity: 1;
  transform: translateY(0);
}

.main-fade-in #description {
  opacity: 1;
  transform: translateX(0);
} */

#clock {
  position: absolute;
  top: 50px;
  right: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 4rem;
  color: white;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.main-fade-in #clock {
  opacity: 1;
  transform: translateY(0);
}
